
/** ****************************************************************************
 * Stylesheet for Salem 1692 moderator PWA
 */

@font-face {
    font-family: CaslonAntique;
    src: url(../fonts/CaslonAntique.ttf);
    font-weight: 500;
}

@font-face {
    font-family: CaslonAntique;
    src: url(../fonts/CaslonAntique-Bold.ttf);
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: CaslonAntique, 'Times New Roman', Times, serif;
    font-size: 26px;
}

hr {
    width: 80%;
    height: 0px;
    margin: 0;
    border-color: #ad713a #ad713a black black;
    border-width: 1px;
    border-style: solid;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2 {
    margin-top: 10px;
    margin-bottom: 0;
}
h2,
.text-centered {
    text-align: center;
}
h2,
.font-large {
    font-size: 40px;
    font-weight: bold;
}

i {
    font-style: italic;
}

a[href] {
    color: brown;
}

img.sound-image {
    margin: 50px 0 60px 0;
}
img.sound-image.greyed {
    filter: grayscale(1);
}
img.qr-icon {
    margin: 0 5px;
}
img.qr-icon.scannable {
    border: 1px solid #555;
    background-color: white;
}
#qr-code {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 16px;
    border: 3px solid black;
    background-color: white;
    transform: translate(-50%, -50%); /* center the QR code on the page */
}
#qr-video {
    display: block;
    padding: 16px;
    border: 3px solid black;
    background-color: white;
}
#video-status {
    width: 50%;
    font-style: italic;
    background: black;
    color: white;
    padding: 3px;
    margin-top: 8px;
}

#mask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

input[type=text] {
    background-color: #faf8ea;
    border: 2px solid black;
    padding-left: 5px;
    font-family: inherit;
    font-size: 28px;
    width: 50%;
}

input[type=text]::placeholder {
    font-style: italic;
    color: #bbb;
}

.nowrap {
    white-space: nowrap;
}

.flex-vertical {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.spacer {
    height: 25px;
    min-height: 25px;
}

#root {
    background: url(../images/background-daytime.png) center / cover no-repeat;
    width: 100%;
    height: 100%;
}

p {
    margin: 5px 15px;
    padding: 5px;
    line-height: 1.2;
    backdrop-filter: blur(3px);
}
p.left-aligned {
    width: calc(100% - 30px);
    text-align: left;
}

div.id-input,
input[type=text].id-input {
    display: inline-block;
    border: 3px solid #666;
    background-color: #eee;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 6px 0;
    width: 50%;
}
div.id-input {
    margin-left: 42px; /* obtained by trial and error */
}
input[type=text].id-input {
    margin-left: 54px; /* obtained by trial and error */
}

.input-and-icon {
    width: 100%;
    text-align: center;
}

.nl_NL .page .condensed-nl {
    font-size: 24px;
}
.de_DE .page .condensed-de {
    font-size: 20px;
}
.de_DE #setup-network-page .condensed-de {
    font-size: 24px;
    line-height: 36px;
}
.fr_FR .page .condensed-fr {
    font-size: 22px;
}
.es_ES .page .condensed-es {
    font-size: 24px;
}
.en_US .page h1.condensed-en,
.fr_FR .page h1.condensed-fr,
.es_ES .page h1.condensed-es {
    font-size: 58px;
    margin-top: 30px;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    color: #361807;
}

.page button {
    width: 50%;
    height: 40px;
    font-size: 26px;
    background-color: #eac672;
    border-width: 2px;
    border-color: #361807;
    box-shadow: 0px 10px 20px #00000030, 0px 6px 6px #0000003b;
}

.page button[disabled] {
    filter: grayscale(1);
    opacity: 0.5;
}

.page button.widebutton {
    width: 80%;
    margin-bottom: 24px;
}

.page button,
.page button.largebutton,
.page button.squarebutton {
    margin-bottom: 32px;
    font-family: inherit;
    background-repeat: no-repeat;
}

.page button.spacer-top {
    margin-top: 25px;
}

.page button.ok-button {
    font-size: 22px;
    line-height: 1.5;
}

.page button.rot0   { transform: rotate(0deg);   }
.page button.rot90  { transform: rotate(90deg);  }
.page button.rot180 { transform: rotate(180deg); }
.page button.rot270 { transform: rotate(270deg); }

.page button.largebutton {
    width: 80%;
    height: 100px;
}

.page button.squarebutton {
    justify-self: center;
    font-size: 32px;
    margin: 24px 9%;
    width: 72%;
    height: 90px;
}

.page button.largebutton.confirm-yes {
    font-size: 80px;
    color: #172;
    background-image: url(../images/confirm-yes.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.page button.largebutton.confirm-no  {
    font-size: 80px;
    color: #a24;
    background-image: url(../images/confirm-no.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.page button.icon-left {
    padding-left: 20px;
    background-position: 16px center;
}
.page button.icon-right {
    padding-right: 20px;
    background-position: calc(100% - 16px) center;
}
.page button.icon-only,
.page div.button-sized {
    background-position: center center;
    width: 42px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.page div.floating-right {
    right: 20px;
}
.page div.floating-left {
    left: 20px;
}
.page div.floating-button {
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    width: 32px;
    height: 32px;
    z-index: 10;
    /* opacity: 0.75; */
}

.page button.flag-nl { background-image: url(../images/flag-nl.png); }
.page button.flag-de { background-image: url(../images/flag-de.png); }
.page button.flag-us { background-image: url(../images/flag-us.png); }
.page button.flag-fr { background-image: url(../images/flag-fr.png); }
.page button.flag-es { background-image: url(../images/flag-es.png); }
.page button.flag-it { background-image: url(../images/flag-it.png); }

.page button.icon-back  { background-image: url(../images/icon-back.png); }
.page button.icon-pawn  { background-image: url(../images/icon-pawn.png); }
.page button.icon-lang  { background-image: url(../images/icon-lang.png); }
.page button.icon-forw  { background-image: url(../images/icon-forw.png); }
.page button.icon-move  { background-image: url(../images/icon-move.png); }
.page button.icon-exit  { background-image: url(../images/icon-exit.png); }
.page button.icon-rot   { background-image: url(../images/icon-rot.png); }
.page button.icon-trash { background-image: url(../images/icon-cross.png); }
.page button.icon-abort { background-image: url(../images/icon-cross.png); }
.page    div.icon-gear  { background-image: url(../images/icon-gear.png); }
.page    div.icon-back  { background-image: url(../images/icon-back-32.png); }

.page button.icon-checked   { background-image: url(../images/icon-checked.png); }
.page button.icon-unchecked { background-image: url(../images/icon-unchecked.png); }

.page button.icon-left.icon-checked,
.page button.icon-left.icon-unchecked {
    background-position: 16px center;
}

.buttonpair {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.buttonpair button {
    width: 46%;
}

#canvas-hider {
    width: 0;
    height: 0;
    overflow: hidden;
}

/** ****************************************************************************
 * Title Page
 */

#title-page {
    background: url(../images/overlay-title.png) center / contain no-repeat;
    justify-content: flex-end; /* prio over flex-vertical */
}

#title-page button {
    margin-bottom: 25px;
}

#title-page button.last {
    margin-bottom: 100px;
}

/** ****************************************************************************
 * Setup Pages
 */

#setup-page {
    background: url(../images/overlay-gear.png) -190px 120px no-repeat;
}

#setup-language-page {
    background: url(../images/overlay-language.png) -130px 120px no-repeat;
}

#setup-music-page {
    background: url(../images/overlay-lute.png) -100px 120px no-repeat;
}

#setup-music-page .playing {
    animation: AnimatedBackground 3s ease-in-out infinite;
}

@keyframes AnimatedBackground {
    0%   { background-color: #90783b }
    50%  { background-color: #e2d286 }
    100% { background-color: #90783b }
}

#setup-players-page {
    background: url(../images/overlay-pawn.png) -190px 120px no-repeat;
}

#setup-players-page .player-entry-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 80%;
}

#setup-players-page .player-entry-item .staggered {
    position: relative;
    top: 31px;
}

#setup-network-page {
    background: url(../images/overlay-old-phone.png) -220px 80px no-repeat;
}

#layout-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#layout-list button.squarebutton {
    text-align: center;
    vertical-align: middle;
    line-height: 0;
}

#layout-list button.squarebutton.layout-1222::after { content: url(../images/tablelayout-1222.png); }
#layout-list button.squarebutton.layout-2221::after { content: url(../images/tablelayout-2221.png); }
#layout-list button.squarebutton.layout-1221::after { content: url(../images/tablelayout-1221.png); }
#layout-list button.squarebutton.layout-2222::after { content: url(../images/tablelayout-2222.png); }

/** ****************************************************************************
 * Credits Page
 */

#credits-page {
    background: url(../images/overlay-scroll.png) -290px 120px no-repeat;
    width: 100%;
}

#credits-page h1 {
    text-align: center;
}

#credits-page p {
    margin: 0 15px;
    padding: 0 5px 0 25px;
    text-indent: -20px;
    line-height: 1.4;
}

#credits-page p.noblur {
    /* necessary for correct positioning of the mask:
     * the <p> containing the mask should have this style applied
     */
    backdrop-filter: none;
}

#credits-page p::first-line {
    text-indent: 0;
}

#credits-page p span:first-child {
    font-style: italic;
}

/** ****************************************************************************
 * Daytime Page
 */

#daytime-page,
#daytime-waiting-page {
    background: url(../images/overlay-village.png) 90% 20vh / auto 80vh no-repeat;
}

/** ****************************************************************************
 * Night Page
 */

#night-page {
    background: url(../images/background-night.png) repeat;
}

#night-subpage {
    background: url(../images/overlay-night.png) top / 375px no-repeat;
    color: #eee;
}

#night-subpage button.realsquarebutton {
    background-position: center center;
    width: 125px;
    height: 125px;
    min-height: 125px;
}

#player-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#player-list .grid-wide {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40%;
}

/** ****************************************************************************
 * Daytime Confess/Reveal Pages
 */

#daytime-confess-page {
    background: url(../images/overlay-hourglass.png) -20vw / 70vw no-repeat;
}

#daytime-reveal-page {
    background: url(../images/overlay-broom.png) left -70px top 50% no-repeat;
}

