
/** ****************************************************************************
 * Stylesheet for Salem 1692 moderator PWA
 */

@font-face {
    font-family: CaslonAntique;
    src: url(../fonts/CaslonAntique.ttf);
    font-weight: 500;
}

@font-face {
    font-family: CaslonAntique;
    src: url(../fonts/CaslonAntique-Bold.ttf);
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: CaslonAntique, 'Times New Roman', Times, serif;
    font-size: 32px;
}

#root {
    background: center / cover no-repeat url(../images/background.png);
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page button {
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: 26px;
    background-color: #eac672;
    background-repeat: no-repeat;
}

.flex-vertical {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/** ****************************************************************************
 * Title Page
 */

#title-page {
    background: center / contain no-repeat url(../images/overlay-title.png);
    justify-content: flex-end; /* prio over flex-vertical */
}

#title-page button {
    width: 50%;
    height: 40px;
    margin-bottom: 25px;
    font-family: inherit;
    font-size: 26px;
}

#title-page button.last {
    margin-bottom: 125px;
}

/** ****************************************************************************
 * Setup Page
 */

#setup-page {
    background: url(../images/overlay-cog.png) -290px 80px no-repeat;
    padding-top: 20px;
}

#setup-page button.flag {
    padding-left: 24px;
    background-position: 20px center;
}

#setup-page button.flag_nl {
    background-image: url(../images/flag_nl.gif);
}
#setup-page button.flag_us {
    background-image: url(../images/flag_us.gif);
}
#setup-page button.flag_es {
    background-image: url(../images/flag_es.gif);
}

/** ****************************************************************************
 * Night Page
 */

#night-page {
    background: center / cover no-repeat url(../images/background-night.png);
    color: #eee;
}

#night-page h1 {
    font-size: 64px;
    font-weight: bold;
}

#night-subpage {
    background: top / contain no-repeat url(../images/overlay-night.png);
    padding-top: 20px;
}

