
/** ****************************************************************************
 * Stylesheet for Salem 1692 moderator PWA
 */

@font-face {
    font-family: CaslonAntique;
    src: url(../fonts/CaslonAntique.ttf);
    font-weight: 500;
}

@font-face {
    font-family: CaslonAntique;
    src: url(../fonts/CaslonAntique-Bold.ttf);
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: CaslonAntique, 'Times New Roman', Times, serif;
    font-size: 28px;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

dt {
    font-weight: bold;
}
dd {
    margin-left: 20px;
}

.flex-vertical {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.spacer {
    height: 25px;
}

#root {
    background: url(../images/background.png) center / cover no-repeat;
    width: 100%;
    height: 100%;
}

div.text-padding {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page button {
    width: 50%;
    height: 40px;
    margin-bottom: 32px;
    font-family: inherit;
    font-size: 26px;
    background-color: #eac672;
    background-repeat: no-repeat;
}

.page button.icon {
    padding-left: 24px;
    background-position: 20px center;
}

.page button.flag_nl { background-image: url(../images/flag_nl.png); }
.page button.flag_de { background-image: url(../images/flag_de.png); }
.page button.flag_us { background-image: url(../images/flag_us.png); }
.page button.flag_fr { background-image: url(../images/flag_fr.png); }
.page button.flag_es { background-image: url(../images/flag_es.png); }
.page button.flag_it { background-image: url(../images/flag_it.png); }

.page button.icon_pawn { background-image: url(../images/icon_pawn.png); }
.page button.icon_gear { background-image: url(../images/icon_gear.png); }
.page button.icon_lang { background-image: url(../images/icon_lang.png); }
.page button.icon_back { background-image: url(../images/icon_back.png); }
.page button.icon_exit { background-image: url(../images/icon_exit.png); }

/** ****************************************************************************
 * Title Page
 */

#title-page {
    background: url(../images/overlay-title.png) center / contain no-repeat;
    justify-content: flex-end; /* prio over flex-vertical */
}

#title-page button {
    margin-bottom: 25px;
}

#title-page button.last {
    margin-bottom: 125px;
}

/** ****************************************************************************
 * Setup Page
 */

#setup-page {
    background: url(../images/overlay-gear.png) -190px 120px no-repeat;
    padding-top: 20px;
}

/** ****************************************************************************
 * Night Page
 */

#night-page {
    background: url(../images/background-night.png) center / cover no-repeat;
    color: #eee;
}

#night-subpage {
    background: url(../images/overlay-night.png) top / contain no-repeat;
    padding-top: 20px;
}

