.DS_Store
/.bsb.lock
/.merlin
/_fabriek/famfamfam/
/_fabriek/audio/mail/
/_fabriek/audio/speech-*
/lib/
node_modules/
*.swp
*.swo
*.bs.js
bundle.js.tmp-browserify-*
# Yarn logfiles
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

# Yarn directory
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# only when using pnp
#!.yarn/cache
#!.yarn/unplugged
#!.yarn/unplugged/*/node_modules
