.DS_Store
/.bsb.lock
/.merlin
/_fabriek/firebase/quickstart-js/
/_fabriek/famfamfam/
/_fabriek/audio/raw/
/_fabriek/audio/speech-NL/
/_fabriek/audio/speech-EN/
/_fabriek/audio/speech-ES/
/_fabriek/music/
/lib/
node_modules/
*.swp
*.swo
*.bs.js
bundle.js.tmp-browserify-*
