.DS_Store
/.bsb.lock
/.merlin
/.idea
/_fabriek/famfamfam/
/_fabriek/audio/mail/
/_fabriek/audio/speech-*
/_correspondence/
/lib/
/database/stats
node_modules/
*.swp
*.swo
*.bs.js
*.res.js
bundle.js.tmp-browserify-*

# Android SDK
local.properties

# Yarn logfiles
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

# Yarn directory
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# only when using pnp
#!.yarn/cache
#!.yarn/unplugged
#!.yarn/unplugged/*/node_modules
